/* TAGS */

p {
    color: white;
    font-size: 20px;
    font-family: helvetica, Arial;
    text-shadow: 1px 1px 1px #111111;
}

header{
    background-color: #00ffff;
    height: 100px;
    padding: 10px;     
}

body{
    background-color: #000000;
}

*{
    margin: 0;
    padding: 0;
    font-family: helvetica, Arial;

}

footer{
    clear: both;
    background-color: #00ffff;
    height: 40px;
    text-align: center;
    padding: 15px;
    text-shadow: 1px 1px 1px #111111;
}

h1{
    color: #f8b200;
    text-align: center;
    margin: 0 0 50px 0;
    text-shadow: 1px 1px 1px #111111;
}

/* IDS */

#Principal{
    background-image: url(MesaDeSomjpg.jpg);
    min-height: 550px;
    background-size: 100%;
    padding: 80px 0 0 0;
    clear: both;
}

#logo{
    float: left;
}

#menu{
    float: right;
    margin-top: 40px;
}

#menu a{
    text-decoration: none;
    color: #111;
    text-shadow: 1px 1px #111111;
    padding: 53px 15px;
}

#menu a:hover{
    background-color: #008080;
    color: #111;
    -webkit-transition: 0.45s;
}

/* CLASSES */

.container{
    width: 80%;
    margin: auto;
}

.efeito{
    background-color: rgb(0, 0, 0, 0.5);
    padding: 80px 0 80px 0;
}